
.app-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVIteiHivqnHLbb5cUsHPuHWc3hLAAWRBbUwMUf-dAPIoQq9khr1l02vKSAbNv4XcACk8&usqp=CAU'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  